body{
    margin:0%;
    padding:0%;
    font-family: sans-serif;
    overflow-x: hidden;
}
.container{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 35px;
    box-sizing: border-box;
}
.background-image{
    background-image: url("./assets/background.jpg");
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
}
#content_screen_1{
    overflow-y: hidden;
    overflow-x: hidden;
}
#content_screen_2{
    height:130%;
}
#content_screen_1, #content_screen_2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
@keyframes jump_initial_effect{
    from{
        transform: translateY(-30px);
        opacity: 0;
      }
    to{
        transform: translateY(0px);
        opacity: 100;
    }
}
.logo, .text1, .text2, .pulse_button_box, .waves_play_box, .YouTube_video_box{
    opacity: 0;
    animation: jump_initial_effect 1s;
    animation-fill-mode: forwards;

}
.logo{
    margin-top: 50px;
    width: 150px;

    /* left: 50%;
    top: 18%;
    margin-right: -50%;
    transform: translate(-50%, -50%);  */
}
.center_content{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    padding: 30px;
} 
.text_box{
    align-items: center;
    color: white;
    font-family:'Roboto';
    margin-top: auto;
    margin-bottom: auto;
}
.text1, #text1_screen_2{
    font-size: 18px;
    line-height: 1.8;
    font-family: 'Roboto Mono', 'Roboto';
    animation-delay: 1s;

}
.text2{
    font-weight: 900;
    font-size: 60px;
    margin:  0;
    animation-delay: 2s;
}
.text_selected{
    color: #E8A83F;
}
.pulse_button_box{
    animation-delay:3s;
}
@keyframes grow_and_reduce{
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.1)
    }
}
.pulse_button{
    background-color: #36FF00;
    color: #000000;
    margin:40px 0px;
    display: flex;
    width: 300px;
    height: 60px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10em #36FF00;
    animation: grow_and_reduce 1s linear infinite alternate;
}
.pulse_button:hover{
    background-color:#FF7600;
    box-shadow: 0 0 10em #FF7600;
    cursor: pointer;
}
.waves_play_box, .waves_effect, .play_button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.waves_play_box{
    width: 270px;
    /* height: 650px; */
    display: flex;
    /* position: absolute; */
    right: 0;
    top: 70px;
}
@keyframes waves_effect_animation {
    0%{
        width: 230px;
        height: 230px;
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        width: 650px;
        height: 650px;
        opacity: 0;
    }
}
.waves_effect{
    border: 1px solid #E8A83F;
    border-radius: 50%;
    position: absolute;
    animation: waves_effect_animation 3s linear infinite;
    animation-delay: 1s;
   
}
#wave_2{
    animation-delay: 2.5s;
}
.play_button{
    background-color: #E8A83F;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 0 5em #E8A83F;
}
.play_button:hover{
    cursor: pointer;
}
#play_icon{
    width: 40%;
}
@keyframes rotate_effect {
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)
    }
}
.circle_txt{
    position: absolute;
    animation: rotate_effect 30s linear infinite;
}
#content_screen_2{
    display: none;
}
#text_box_screen_2, #text2_screen_2_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.YouTube_video_box{
    margin-top: 40px;
    animation-delay:3s;

}

#pulse_button_box_screen_2{
    animation-delay: 4s;
}
#redlight{
    width: 100%;
    height: 300px;
    background: url(./assets/lightred1.png) no-repeat center;
    margin-top: -155px;
    margin-bottom: -140px;

}
@media screen and (max-width: 1150px) {
    .background-image{
        height: 100%;
        width: auto;
        background-color:#000000;
    }
    #content_screen_1{
        display:none;
    }
    #content_screen_2{
        display:flex;
    }
    iframe{
        max-height: fit-content;
        max-width: fit-content;
    }
    #text1_screen_2 {
        font-size: 10px;
        margin: 15px;
    }
    .text2{
        font-size: 25px;
    }
    .logo{
        margin-top: 0px;
        margin-bottom: 20px;
    }
  } 
@media screen and (max-width: 400px) {
    .background-image{
        background-image:none;
    }
    .container {
        overflow-y: hidden;
        padding: 35px;
        padding-top: 5px;
    }
}