body{
    margin:0%;
    padding:0%;
    font-family: sans-serif;
    overflow-x: hidden;
    
}
.container{
    height: 100%;
    width: 100vw;
    background-color:black;
    padding: 35px;
    box-sizing: border-box;
}
.background-image{
    background-image: url("./assets/background.jpg");
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
}

#content_screen_1{
    width: 100%;
    height: 85%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    margin-top: 1%;

    /* left: 50%;
    top: 18%;
    margin-right: -50%;
    transform: translate(-50%, -50%);  */
}
.center_content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    padding: 30px;
} 

.waves_play_box, .waves_effect, .play_button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.waves_play_box{
    margin-top: 50px;
    margin-right: 180px;
    width: 200px;
    height: 300px;
}
@keyframes waves_effect_animation {
    0%{
        width: 230px;
        height: 230px;
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        width: 650px;
        height: 650px;
        opacity: 0;
    }
}
.waves_effect{
    border: 1px solid #E8A83F;
    border-radius: 50%;
    position: absolute;
    animation: waves_effect_animation 3s linear infinite;
   
}
#wave_2{
    animation-delay: 1.5s;
}
.play_button{
    background-color: #E8A83F;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 0 5em #E8A83F;
}
#play_icon{
    width: 40%;
}
@keyframes rotate_effect {
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)
    }
}
.circle_txt{
    position: absolute;
    animation: rotate_effect 30s linear infinite;
}

.text_box, .text_box_screen_2{
    align-items: center;
    color: white;
    font-family:'Roboto';
    margin-top: auto;
    margin-bottom: auto;
}
.text1,.text1_screen_2{
    font-size: 18px;
    line-height: 1.8;
    font-family: 'Roboto Mono', 'Roboto';
}
.text2, .text2_screen_2{
    font-weight: 900;
    font-size: 60px;
    margin:  0;
}
.text_selected{
    color: #E8A83F;
}
@keyframes grow_and_reduce{
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.1)
    }
}
.pulse_button, .pulse_button_screen_2{
    background-color: #36FF00;
    color: #000000;
    margin:40px 0px;
    display: flex;
    width: 300px;
    height: 60px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10em #36FF00;
    animation: grow_and_reduce 1s linear infinite;
    animation-direction: alternate;
}
.pulse_button:hover, .pulse_button_screen_2:hover{
    background-color:#FF7600;
    box-shadow: 0 0 10em #FF7600;
}

#content_screen_2{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
}
.text_box_screen_2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#text2_screen_2_box{
    display:grid;
}
.text2_screen_2{
    margin: 8px;
}
.redlight{
    
}